li.mail-detail {
    .signed {
        background: fade(@green-light, 12%);
        padding: 15px !important;
        width: auto;
    }
}

.token .recipient-state {
    display: inline-block;
    padding-left: 4px;
    vertical-align: top;

    .trusted {
        color: @green;
    }
    i:not(.key-found):before {
        content: '\f234';//fa-user-plus
    }
    i.key-found:before {
        content: '\f084';//fa-key
    }
}
