section.mail-detail {
    .content.signed {
        background: fade(@greenLight, 12%);
        .box-shadow(0px 5px 5px 5px fade(@greenLight, 23%));
        padding: 15px !important;
        width: auto;
    }
}
